body {
    font-family: 'Segoe UI', Arial;
    margin: 0;
    padding: 0;
    background: white;
    margin-bottom: 160px;
}

.page {
    width: 1100px;
    margin: 0 auto;
    page-break-after: always;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 18px;
    padding: 20px 0;
    box-sizing: border-box;
}

.card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

    .card img {
        width: 100%;
        height: 270px;
        object-fit: cover;
        border-radius: 6px;
    }

.number {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(255,255,255,0.9);
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.name {
    font-size: 17px;
    margin: 6px 0 4px;
    font-weight: bold;
}

.price {
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 120px;
    text-align: center;
}

    .footer img {
        width: 150px;
        opacity: 0.7;
    }
